---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/Section.astro";
import ShortBanner from "@components/ShortBanner.astro";
import ArticleList from "@components/ArticleList.astro";
import CategoryList from "@components/CategoryList.astro";
import ArticleListReact from "@components/ArticleListReact.js";

const pageTitle = "Articles";

const allPosts = await getCollection('articles',  ({data}) => data.publish === true);

const sortedPosts = allPosts.sort((a, b) => new Date(b.data.date) - new Date(a.data.date));

const uniqueTags = new Set();

sortedPosts.forEach(item => item.data.tags && item.data.tags.forEach(t => uniqueTags.add(t)));
console.log(uniqueTags)

const items = [...uniqueTags.values()].sort();

---

<BaseLayout pageTitle={pageTitle}>
  <ShortBanner />

  <Section sectionHeading={pageTitle}>
    <p>
      I'm writing about various topics relevant to web development, Azure and
      other things software related.
    </p>
    <p>
        Several items are personal projects that are either in progress or completed. 
        Projects include a description of the project, a discussion of any interesting things that occurred.
        There should be a GitHub repo associated with them. If they are running, you'll be able to check them out.
        I don't have production constraints, so they come and go.
    </p>

    <ArticleListReact client:load items={sortedPosts} />

    <!-- <div>
      <h3>Categories</h3>
      <p>Click on a category to filter by that category.</p>
      <CategoryList list={items} />
    </div>-->
    
  </Section>
</BaseLayout>
